{

  "ecmaFeatures": {
    "arrowFunctions": true,                    // enable arrow functions
    "binaryLiterals": false,                   // enable binary literals
    "blockBindings": true,                     // enable let and const (aka block bindings)
    "classes": true,                           // enable classes
    "defaultParams": true,                     // enable default function parameters
    "destructuring": true,                     // enable destructuring
    "forOf": true,                             // enable for-of loops
    "generators": true,                        // enable generators
    "modules": true,                           // enable modules and global strict mode
    "objectLiteralComputedProperties": true,   // enable computed object literal property names
    "objectLiteralDuplicateProperties": true,  // enable duplicate object literal properties in strict mode
    "objectLiteralShorthandMethods": true,     // enable object literal shorthand methods
    "objectLiteralShorthandProperties": true,  // enable object literal shorthand properties
    "octalLiterals": false,                    // enable octal literals
    "regexUFlag": false,                       // enable the regular expression u flag
    "regexYFlag": false,                       // enable the regular expression y flag
    "restParams": true,                        // enable the rest parameters
    "spread": true,                            // enable the spread operator
    "superInFunctions": true,                  // enable super references inside of functions
    "templateStrings": true,                   // enable template strings
    "unicodeCodePointEscapes": false,          // enable code point escapes
    "globalReturn": false,                     // allow return statements in the global scope
    "jsx": true                               // enable JSX
  },

  "env": {
    "browser": true,      // browser global variables
    "node": false,        // Node.js global variables and Node.js-specific rules
    "amd": false,         // defines require() and define() as global variables as per the amd spec
    "mocha": false,       // adds all of the Mocha testing global variables
    "jasmine": false,     // adds all of the Jasmine testing global variables for version 1.3 and 2.0
    "phantomjs": false,   // phantomjs global variables
    "jquery": false,      // jquery global variables
    "prototypejs": false, // prototypejs global variables
    "shelljs": false      // shelljs global variables
  },

  "globals": {
    // e.g. "angular": true
  },

  "plugins": [
    "babel",
    "react"
  ]
}
